 <!DOCTYPE html>
<html lang="en">
  <head>
    <title>Footer</title>
  </head>


  <body id="page-top" class="index" data-pinterest-extension-installed="cr1.3.4">

    <!-- Footer Section -->
    <footer class="site-footer px-2">
      <div class="container">
           <div class="row">
                <div class="col-md-8 col-sm-6 col-xs-12">
                   <p class="copyright-text">Designed by iddrumz
                   </p>
                 </div>

                 <div class="col-md-4 col-sm-6 col-xs-12">
                   <ul class="social-icons">
                     <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                     <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                     <li><a class="dribbble" href="#"><i class="fa fa-snapchat"></i></a></li>
                     <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                     <li><a class="linkedin" href="#"><i class="fa fa-whatsapp"></i></a></li>
                     <li><a class="linkedin" href="#"><i class="fa fa-google"></i></a></li>
                   </ul>
                 </div>
               </div>
             </div>
       </footer>
     </body>
   </html>

