<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>We elevate life’s experiences through having dogs has pet</h2>
            <p>
                We design experiences for inspiring clients. Our secret is a meaningful culture that binds us together as a Design Tribe.
            </p>
            <h2>Our noble cause</h2>
            <p>
                In order to succeed, we have to nurture a culture that wants to play a part in elevating people’s experiences and making things better. It starts with creating the habit of elevating the experiences within good fashion wears to empower our team and then
                elevating the experiences of our clients and their users.It then extends beyond what we do today, when we then ask ourselves “How do we craft the best life experiences for the world?”
            </p>

            <h2>We are guided by values also We believe in giving back to  all our clients</h2>
            <p>
                We created the Dog wareHouse room as a direct reflection of our culture and values. It serves as a platform that guides our vision, services and how we measure our success. Simply put, it’s how we run our company by our culture. For every one of our
                accomplishments, we've made many mistakes. So once we proudly share our breakthroughs in design methodology and company culture with our community so they succeed faster. Here's some of our latest trending fashion wears.
            </p>
            <div class="card bg-dark text-white">
              <img src="../assets/images/dog1.jpg" class="card-img" alt="...">
              <div class="card-img-overlay">
                <h5 class="card-title">German Shepherd</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text">Last updated 3 mins ago</p>
              </div>
            </div>
        </div>
    </div>
</div>
