<!-- <div class="row">
  <a
   style="cursor: pointer;"
   [routerLink]="[index]"
   routerLinkActive="active"
   class="list-group-item clearfix col-lg-4"
   >
  <div class="card">
    <img [src]="product.imagePath" class="card-img-top" alt="{{ product.title }}">
    <div class="card-body">
      <h5 class="card-title">{{ product.title }}</h5>
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text">{{ product.price }}</p>
      <strong>More info</strong>
      <hr>
      <p><i class="fa fa-shopping-cart fa-lg pr-2" (click)="addCart()"></i></p>
    </div>
    <div class="card-footer">
      <strong class="text-center">Dogs are friendly and healthy</strong>
    </div>
  </div>
  </a>
</div>

 -->
