<div class="">
    <div class="row">
        <div class="col-md-12">
            <div>
              <h3 class="text-center pt-2">
                <strong>
                  Dogs: Our best friends in sickness and in health
               </strong>
              </h3>

                <!-- <h3>
                  Dogs, often hailed as humans’ best friends, have been the topic of many scientific studies looking into how they might boost our well-being. In this Spotlight, we’ll explain how your friendly pup can benefit your health across the board
                </h3> -->
            </div>
              <div class="card bg-dark text-white">
                <img src="../assets/images/dog12.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">PitBull</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">Last updated 3 mins ago</p>
                </div>
              </div>
            <div>
                <h3 class="text-center mt-6">Latest Products</h3>
                    <div class="row">
                        <div class="col-xs-12" sm="6" md="4">
                          <h1>hello</h1>
                          <!-- <app-product-item
                          *ngFor="let productEl of products.slice(-3); let i = index"
                          [product]="productEl"
                          [index]="i"></app-product-item> -->
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>



