<div class="">
    <div class="row">
        <div class="col-md-12">
            <div>
              <h3 class="text-center pt-2">
                <strong>
                  Dogs: Our best friends in sickness and in health
               </strong>
              </h3>

            </div>
              <div class="card bg-dark text-white">
                <img src="../assets/images/dog12.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">PitBull</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">Last updated 3 mins ago</p>
                </div>
              </div>
            <div>
                <h3 class="text-center mt-6">Latest Products</h3>
                    <!-- <div class="row">
                        <div class="col-xs-12" sm="6" md="4">
                          <app-products
                          style="cursor: pointer;"
                          routerLink="/products/{{ product.id }}"
                          routerLinkActive="active"
                          class="list-group-item clearfix col-lg-4"
                         *ngFor="let product of products; let i = index"></app-products>
                        </div>
                </div> -->
            </div>
        </div>
    </div>
</div>



