<div class="">
    <div class="row">
        <div class="col-md-12">
            <div>
              <h3 class="text-center pt-2">
                <strong>
                  Dogs: Our best friends in sickness and in health
               </strong>
              </h3>

            </div>
              <div class="card bg-dark text-white">
                <img src="../assets/images/dog12.jpg" class="card-img" alt="...">
                <div class="card-img-overlay">
                  <h5 class="card-title">PitBull</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text">Last updated 3 mins ago</p>
                </div>
              </div>
            <div>
                <h3 class="text-center mt-6">Latest Products</h3>
                <div class="image-grip">
                  <div *ngFor="let product of latestProducts.slice(-3); let i = index" class="image">
                    <a routerLink="/products/{{product?.id}}">
                      <img class="image" src="{{product?.imagePath}}" alt="">
                    </a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>



